// CORES

$verde: #1c9994;
$verde-claro: #22b2a8;
$verde-overlay: #5bf4cc;
$verde-escuro: #266c69;
$cinza-bg: #eeeee9;
$cinza-texto: #82827d;
$cinza-texto-claro: #a0a09b;
$cinza-footer: #78786e;



// CLEARFIX

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}