@import 'normalize';
@import 'base';
@import 'compass/css3';

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font: 400 14px/1.5 'Dosis', sans-serif;
}

::selection {
    background: $verde-overlay;
    color: #000;
}

::-moz-selection {
    background: $verde-overlay;
    color: #000;
}

.centro {
    position: relative;
    width: 980px;
    margin: 0 auto;
    @extend %clearfix;
}

section { padding: 30px 0 110px; }



/*=================================================================================================
  MENUS
  ===============================================================================================*/

.menu {
    float: left;
    margin: 52px 0 0 240px;
    a {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        padding: 0 15px;
        outline: none;
        color: #b1b1ae;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        height: 26px;
        line-height: 26px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        &::before, &::after {
            position: absolute;
            width: 24px;
            height: 2px;
            background: #d5d5d0;
            content: "";
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            pointer-events: none;
        }
        &::before {
            top: 0;
            left: 0;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            transform-origin: 0 0;
        }
        &::after {
            right: 0;
            bottom: 0;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transform-origin: 100% 0;
            -moz-transform-origin: 100% 0;
            transform-origin: 100% 0;
        }
        &:hover, &.active {
            color: $verde;
        }
        &:hover::before, &:hover::after, &:focus::before, &:focus::after, &.active::before, &.active::after {
            background: $verde;
        }
        &:hover::before, &:focus::before, &.active::before {
            left: 50%;
            top: -10px;
            -webkit-transform: rotate(0deg) translateX(-50%);
            -moz-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
        }
        &:hover::after, &:focus::after, &.active::after {
            right: 50%;
            bottom: -10px;
            -webkit-transform: rotate(0deg) translateX(50%);
            -moz-transform: rotate(0deg) translateX(50%);
            transform: rotate(0deg) translateX(50%);
        }
    }
}

.menu-social {
    margin: 53px 0 0;
    list-style: none;
    float: right;
    li {
        display: block;
        width: 24px;
        height: 24px;
        float: left;
        margin-left: 5px;
        a {
            display: block;
            text-indent: -9999px;
            width: 24px;
            height: 24px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &.facebook {
                background: url('../img/menu_facebook.png');
                &:hover { background: url('../img/menu_facebook-hover.png'); }
            }
            &.instagram {
                background: url('../img/menu_instagram.png');
                &:hover { background: url('../img/menu_instagram-hover.png'); }
            }
        }
    }
}



/*=================================================================================================
  HOME
  ===============================================================================================*/

#home-menu {
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 55px;
    background: $verde;
    background: rgba($verde, 0.9);
    h1 {
        margin: 18px 0 0;
        width: 150px;
        height: 94px;
        text-indent: -9999px;
        background: url('../img/home_beau-branco.png') no-repeat center;
        float: left;
    }
    .menu {
        a {
            color: #bddfdd;
            &::before, &::after {
                background: #197974;
            }
            &:hover, &.active {
                color: #fff;
            }
            &:hover::before, &:hover::after, &:focus::before, &:focus::after, &.active::before, &.active::after {
                background: #fff;
            }
        }
    }
    .menu-social a {
        &.facebook {
            background: url('../img/home_facebook.png');
            &:hover { background: url('../img/home_facebook-hover.png'); }
        }
        &.instagram {
            background: url('../img/home_instagram.png');
            &:hover { background: url('../img/home_instagram-hover.png'); }
        }
    }
}

#home-slideshow {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: auto;
    }
}

#home-control {
    z-index: 1;
    position: relative;
    width: 980px;
    margin: 0 auto;
    top: 35px;
    .control {
        float: right;
        a {
            display: block;
            position: relative;
            float: left;
            width: 72px;
            height: 36px;
            background: $verde;
            background: rgba($verde, 0.9);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            text-indent: -9999px;
            &::after {
                content: "";
                width: 42px;
                height: 7px;
                position: absolute;
                top: 15px;
                left: 15px;
            }
            &#control-prev::after { background: url('../img/home_seta-esq.png'); }
            &#control-next::after { background: url('../img/home_seta-dir.png'); }
            &:hover {
                background: $verde-claro;
            }
        }
    }
    .descricao {
        clear: right;
        float: right;
        background: #fff;
        background: rgba(255,255,255, 0.9);
        padding: 20px;
        p {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            text-align: right;
            &#slide-projeto {
                color: $verde;
                font-size: 24px;
            }
            &#slide-categoria {
                color: $verde-claro;
                font-size: 15px;
            }
        }
    }
}



/*=================================================================================================
  HEADER & FOOTER
  ===============================================================================================*/

header {
    width: 100%;
    height: 130px;
    background: $cinza-bg;
    h1 {
        margin: 18px 0 0;
        width: 150px;
        height: 94px;
        text-indent: -9999px;
        background: url('../img/menu_beau.png') no-repeat center;
        float: left;
    }
}

footer {
    width: 100%;
    height: 70px;
    background: $cinza-bg;
    z-index: 1;
    .centro { position: relative; }
    p {
        margin: 0;
        line-height: 70px;
        color: $cinza-footer;
        font-size: 13px;
        span { color: $verde-claro; }
        &.copyright { float: left; }
        &.trupe {
            float: right;
            background: url('../img/trupe.png') no-repeat center right;
            padding-right: 30px;
            a {
                text-decoration: none;
                color: inherit;
                border-bottom: 1px solid transparent;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                &:hover {
                    padding-bottom: 2px;
                    color: $verde;
                    border-color: $verde;
                }
            }
        }
    }
    .detalhe {
        width: 129px;
        height: 129px;
        background: url('../img/detalhe_footer.png') no-repeat center;
        position: absolute;
        bottom: 0;
        left: 310px;
    }
}

.section-header {
    background: $verde;
    width: 100%;
    height: 100px;
    color: #fff;
    z-index: 1;
    .centro { position: relative; }
    h2 {
        float: right;
        margin: 0;
        padding: 0;
        line-height: 100px;
        font-size: 45px;
        font-weight: 200;
        text-transform: uppercase;
    }
    p {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 100px;
        font-size: 22px;
        font-weight: 200;
    }
    .detalhe {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 60px;
        right: -80px;
        background: url('../img/detalhe_header.png') no-repeat center;
    }
}



/*=================================================================================================
  PERFIL
  ===============================================================================================*/

#perfil {
    width: 100%;
    background: #3ba7a2;

    .container-imagens {
        width: 500px;
        float: left;
        margin-right: 40px;
        img {
            float: left;
            margin: 0 11px 11px 0;
            &.no-margin { margin: 0 0 11px 0; }
        }
    }

    nav {
        float: left;
        margin-bottom: 25px;
        a {
            display: inline-block;
            height: 42px;
            line-height: 42px;
            border: 1px solid #9dd2d1;
            color: #c4e3e2;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 16px;
            margin-right: 15px;
            padding: 0 15px;
            background: transparent;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover, &.active {
                color: $verde;
                background: #fff;
                border-color: transparent;
            }
        }
    }

    .container-textos {
        width: 440px;
        float: left;
        h3 {
            color: $verde-escuro;
            margin: 0 0 15px;
            font-size: 20px;
            font-weight: 600;
        }
        p {
            color: #fff;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 0;
            line-height: 1.4;
            &.olho {
                font-size: 30px;
                font-weight: 200;
                line-height: 1.2;
                margin: 15px 0 25px;
            }
        }
        ul {
            margin-top: 20px;
            padding: 0;
            list-style: none;
            li {
                color: #fff;
                font-size: 18px;
                margin-bottom: 3px;
                padding-left: 25px;
                position: relative;
                &::after {
                    content: "";
                    width: 7px;
                    height: 5px;
                    background: url('../img/perfil_bullet.png') no-repeat center;
                    position: absolute;
                    left: 0;
                    top: 11px;
                }
            }
        }
    }
}



/*=================================================================================================
  PROJETOS
  ===============================================================================================*/

#projetos-categorias {
    margin: 10px 0 40px;
    a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: $cinza-texto-claro;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        margin-right: 17px;
        padding: 0 13px;
        border: 1px solid #dcdcd7;
        outline: 1px solid transparent;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        &:hover, &.active {
            color: $verde;
            border-color: $verde;
            outline-color: $verde;
        }
    }
}

.projetos-thumbs-wrapper {
    @extend %clearfix;
    .projeto-thumb {
        position: relative;
        display: block;
        width: 230px;
        height: 230px;
        overflow: hidden;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        &:nth-child(4n) { margin-right: 0; }
        img {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        div {
            display: table;
            width: 230px;
            height: 230px;
            padding: 0 40px;
            background: rgba($verde, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &::after {
                content: "";
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
                position: absolute;
                width: 60px;
                height: 60px;
                margin: 85px;
                top: 0;
                left: 0;
                background: url('../img/projetos_detalhe-overlay.png') no-repeat center;
            }
            p {
                display: table-cell;
                vertical-align: middle;
                @include translateY(-100px);
                font-size: 24px;
                color: #fff;
                text-align: center;
                width: 100%;
                line-height: 1.2;
                text-transform: uppercase;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
                span {
                    font-size: 18px;
                    color: $verde-overlay;
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                    text-transform: lowercase;
                    &::before, &::after {
                        content: " - ";
                    }
                }
            }
        }
        &:hover img {
            @include scale(1.3, 1.3);
        }
        &:hover div, &:hover div p {
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
            filter: alpha(opacity=1);
            opacity: 1;
        }
        &:hover div p {
            @include translateY(0px);
        }
        &:hover div::after { width: 230px; height: 230px; margin: 0; }
    }
}

.projeto-aside {
    width: 250px;
    margin-right: 40px;
    float: left;
    text-transform: uppercase;
    .projeto-dados {
        border: 1px solid #dcdcd7;
        padding: 15px 20px;
        h3 {
            font-size: 22px;
            color: $verde;
            font-weight: 400;
            margin: 0;
            line-height: 1.2;
        }
        .categoria {
            font-size: 14px;
            color: $verde-claro;
            margin: 5px 0 20px;
            padding-bottom: 20px;
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 16px;
                height: 4px;
                background: url('../img/projetos_detalhe-descricao.png') no-repeat center;
            }
        }
        div p {
            font-size: 16px;
            color: $cinza-texto;
            margin: 0 0 3px;
        }
    }
    nav {
        margin-top: 10px;
        a {
            display: block;
            position: relative;
            height: 42px;
            line-height: 42px;
            float: left;
            width: 120px;
            padding: 0 15px;
            text-decoration: none;
            color: $cinza-texto-claro;
            font-size: 16px;
            border: 1px solid #dcdcd7;
            outline: 1px solid transparent;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover {
                border-color: $verde;
                outline-color: $verde;
                color: $verde;
            }
            &.projeto-anterior {
                margin-right: 10px;
                text-align: right;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 13px;
                    top: 17px;
                    width: 16px;
                    height: 7px;
                    background: url('../img/projetos_seta-anterior.png') no-repeat center;
                }
                &:hover::after {
                    background-image: url('../img/projetos_seta-anterior-hover.png');
                }
            }
            &.projeto-proximo {
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 13px;
                    top: 17px;
                    width: 16px;
                    height: 7px;
                    background: url('../img/projetos_seta-proximo.png') no-repeat center;
                }
                &:hover::after {
                    background-image: url('../img/projetos_seta-proximo-hover.png');
                }
            }
            &.projeto-todos {
                width: 100%;
                margin-top: 10px;
                text-align: right;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 13px;
                    top: 15px;
                    width: 26px;
                    height: 12px;
                    background: url('../img/projetos_todos.png') no-repeat center;
                }
                &:hover::after {
                    background-image: url('../img/projetos_todos-hover.png');
                }
            }
        }
    }
}

.stick { position: fixed; top: 30px; }

.projeto-fotos {
    width: 690px;
    float: right;
    img {
        margin-bottom: 20px;
        float: left;
    }
    img.vertical {
        margin-right: 20px;
    }
}



/*=================================================================================================
  CONTATO
  ===============================================================================================*/

#contato-form {
    width: 620px;
    float: left;
    input[type=text], input[type=email], textarea {
        width: 100%;
        margin-bottom: 10px;
        font-size: 19px;
        color: $cinza-texto;
        border: 1px solid #dcdcdc;
        outline: none;
        float: left;
        padding: 10px 15px;
        box-shadow: none;
    }
    textarea { height: 170px; min-height: 170px; resize: vertical; }
    input[type=submit] {
        float: right;
        height: 48px;
        font-size: 19px;
        line-height: 44px;
        text-transform: uppercase;
        color: $verde;
        background: transparent;
        border: 2px solid $verde;
        outline: none;
        padding: 0 15px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        &:hover {
            background-color: $verde;
            color: #fff;
        }
    }
    .validate-msg {
        display: none;
        float: left;
        height: 48px;
        line-height: 48px;
        font-size: 19px;
        padding: 0 15px 0 42px;
        background: url('../img/contato_sucesso.png') no-repeat 15px center $cinza-bg;
        color: $cinza-texto;
    }
}

.contato-dados {
    text-align: right;
    float: right;
    font-weight: 200;
    background-color: #fff;
    background-color: rgba(255,255,255, 0.4);
    p {
        font-size: 36px;
        color: $cinza-texto;
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    a {
        font-size: 32px;
        color: $verde;
        margin: 0;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 1px solid #bae0de;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        &:hover {
            border-color: $verde;
        }
    }
}