<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <script src="lean-slider/modernizr-2.6.1.min.js"></script>
    <script src="lean-slider/lean-slider.js"></script>
    <link rel="stylesheet" href="lean-slider/lean-slider.css" type="text/css" />
    <link rel="stylesheet" href="sample-styles.css" type="text/css" />
</head>
<body>
    <div class="slider-wrapper">
        <div id="slider">
            <div class="slide1">
                <img src="images/1.jpg" alt="" />
            </div>
            <div class="slide2">
                <img src="images/2.jpg" alt="" />
            </div>
            <div class="slide3">
                <img src="images/3.jpg" alt="" />
            </div>
            <div class="slide4">
                <img src="images/4.jpg" alt="" />
            </div>
        </div>
        <div id="slider-direction-nav"></div>
        <div id="slider-control-nav"></div>
    </div>
    
    <script type="text/javascript">
    $(document).ready(function() {
        var slider = $('#slider').leanSlider({
            directionNav: '#slider-direction-nav',
            controlNav: '#slider-control-nav'
        });
    });
    </script>
    
</body>
</html>