.cke_editable{
	background:#3ba7a2;
	font: 400 14px/1.5 'Dosis', sans-serif;
}

.cke_editable p{
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.4;
}

.cke_editable p.olho{
  font-size: 30px;
  font-weight: 200;
  line-height: 1.2;
  margin: 15px 0 25px;
}

.cke_editable ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.cke_editable ul li {
  color: #fff;
  font-size: 18px;
  margin-bottom: 3px;
  padding-left: 25px;
  position: relative;
}

.cke_editable ul li::after {
  content: "";
  width: 7px;
  height: 5px;
  background: url("../images/layout/perfil_bullet.png") no-repeat center;
  position: absolute;
  left: 0;
  top: 11px;
}