/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.centro, .projetos-thumbs-wrapper {
  *zoom: 1;
}
.centro:before, .projetos-thumbs-wrapper:before, .centro:after, .projetos-thumbs-wrapper:after {
  content: " ";
  display: table;
}
.centro:after, .projetos-thumbs-wrapper:after {
  clear: both;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 400 14px/1.5 'Dosis', sans-serif;
}

::selection {
  background: #5bf4cc;
  color: #000;
}

::-moz-selection {
  background: #5bf4cc;
  color: #000;
}

.centro {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

section {
  padding: 30px 0 110px;
}

/*=================================================================================================
  MENUS
  ===============================================================================================*/
.menu {
  float: left;
  margin: 52px 0 0 240px;
}
.menu a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  padding: 0 15px;
  outline: none;
  color: #b1b1ae;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  height: 26px;
  line-height: 26px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.menu a::before, .menu a::after {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #d5d5d0;
  content: "";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.menu a::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}
.menu a::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.menu a:hover, .menu a.active {
  color: #1c9994;
}
.menu a:hover::before, .menu a:hover::after, .menu a:focus::before, .menu a:focus::after, .menu a.active::before, .menu a.active::after {
  background: #1c9994;
}
.menu a:hover::before, .menu a:focus::before, .menu a.active::before {
  left: 50%;
  top: -10px;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}
.menu a:hover::after, .menu a:focus::after, .menu a.active::after {
  right: 50%;
  bottom: -10px;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}

.menu-social {
  margin: 53px 0 0;
  list-style: none;
  float: right;
}
.menu-social li {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-left: 5px;
}
.menu-social li a {
  display: block;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-social li a.facebook {
  background: url("../images/layout/menu_facebook.png");
}
.menu-social li a.facebook:hover {
  background: url("../images/layout/menu_facebook-hover.png");
}
.menu-social li a.instagram {
  background: url("../images/layout/menu_instagram.png");
}
.menu-social li a.instagram:hover {
  background: url("../images/layout/menu_instagram-hover.png");
}
.menu-social li a.linkedin {
  background: url("../images/layout/menu_linkedin.png");
}
.menu-social li a.linkedin:hover {
  background: url("../images/layout/menu_linkedin-hover.png");
}

/*=================================================================================================
  HOME
  ===============================================================================================*/
#home-menu {
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 55px;
  background: #1c9994;
  background: rgba(28, 153, 148, 0.9);
}
#home-menu h1 {
  margin: 18px 0 0;
  width: 150px;
  height: 94px;
  text-indent: -9999px;
  background: url("../images/layout/home_beau-branco.png") no-repeat center;
  float: left;
}
#home-menu .menu a {
  color: #bddfdd;
}
#home-menu .menu a::before, #home-menu .menu a::after {
  background: #197974;
}
#home-menu .menu a:hover, #home-menu .menu a.active {
  color: #fff;
}
#home-menu .menu a:hover::before, #home-menu .menu a:hover::after, #home-menu .menu a:focus::before, #home-menu .menu a:focus::after, #home-menu .menu a.active::before, #home-menu .menu a.active::after {
  background: #fff;
}
#home-menu .menu-social a.facebook {
  background: url("../images/layout/home_facebook.png");
}
#home-menu .menu-social a.facebook:hover {
  background: url("../images/layout/home_facebook-hover.png");
}
#home-menu .menu-social a.instagram {
  background: url("../images/layout/home_instagram.png");
}
#home-menu .menu-social a.instagram:hover {
  background: url("../images/layout/home_instagram-hover.png");
}
#home-menu .menu-social li a.linkedin {
  background: url("../images/layout/home_linkedin.png");
}
#home-menu .menu-social li a.linkedin:hover {
  background: url("../images/layout/home_linkedin-hover.png");
}

#home-slideshow {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#home-slideshow .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-control {
  z-index: 1;
  position: relative;
  width: 980px;
  margin: 0 auto;
  top: 35px;
}
#home-control .control {
  float: right;
}
#home-control .control a {
  display: block;
  position: relative;
  float: left;
  width: 72px;
  height: 36px;
  background: #1c9994;
  background: rgba(28, 153, 148, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-indent: -9999px;
}
#home-control .control a::after {
  content: "";
  width: 42px;
  height: 7px;
  position: absolute;
  top: 15px;
  left: 15px;
}
#home-control .control a#control-prev::after {
  background: url("../images/layout/home_seta-esq.png");
}
#home-control .control a#control-next::after {
  background: url("../images/layout/home_seta-dir.png");
}
#home-control .control a:hover {
  background: #22b2a8;
}
#home-control .descricao {
  clear: right;
  float: right;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  padding: 13px;
  max-width: 144px;
}
#home-control .descricao p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: right;
}
#home-control .descricao p#slide-projeto {
  color: #1c9994;
  font-size: 24px;
}
#home-control .descricao p#slide-categoria {
  color: #22b2a8;
  font-size: 15px;
}

/*=================================================================================================
  HEADER & FOOTER
  ===============================================================================================*/
header {
  width: 100%;
  height: 130px;
  background: #eeeee9;
}
header h1 {
  margin: 18px 0 0;
  width: 150px;
  height: 94px;
  text-indent: -9999px;
  background: url("../images/layout/menu_beau.png") no-repeat center;
  float: left;
}

footer {
  width: 100%;
  height: 70px;
  background: #eeeee9;
  z-index: 1;
}
footer .centro {
  position: relative;
}
footer p {
  margin: 0;
  line-height: 70px;
  color: #78786e;
  font-size: 13px;
}
footer p span {
  color: #22b2a8;
}
footer p.copyright {
  float: left;
}
footer p.trupe {
  float: right;
  background: url("../images/layout/trupe.png") no-repeat center right;
  padding-right: 30px;
}
footer p.trupe a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
footer p.trupe a:hover {
  padding-bottom: 2px;
  color: #1c9994;
  border-color: #1c9994;
}
footer .detalhe {
  width: 129px;
  height: 129px;
  background: url("../images/layout/detalhe_footer.png") no-repeat center;
  position: absolute;
  bottom: 0;
  left: 310px;
}

.section-header {
  background: #1c9994;
  width: 100%;
  height: 100px;
  color: #fff;
  z-index: 1;
}
.section-header .centro {
  position: relative;
}
.section-header h2 {
  float: right;
  margin: 0;
  padding: 0;
  line-height: 100px;
  font-size: 45px;
  font-weight: 200;
  text-transform: uppercase;
}
.section-header p {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 100px;
  font-size: 22px;
  font-weight: 200;
}
.section-header .detalhe {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 60px;
  right: -80px;
  background: url("../images/layout/detalhe_header.png") no-repeat center;
}

/*=================================================================================================
  PERFIL
  ===============================================================================================*/
#perfil {
  width: 100%;
  background: #3ba7a2;
}
#perfil .container-imagens {
  width: 500px;
  float: left;
  margin-right: 40px;
}
#perfil .container-imagens img {
  float: left;
  margin: 0 11px 11px 0;
}
#perfil .container-imagens img.no-margin {
  margin: 0 0 11px 0;
}
#perfil nav {
  float: left;
  margin-bottom: 25px;
}
#perfil nav a {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border: 1px solid #9dd2d1;
  color: #c4e3e2;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin-right: 15px;
  padding: 0 15px;
  background: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#perfil nav a:hover, #perfil nav a.active {
  color: #1c9994;
  background: #fff;
  border-color: transparent;
}
#perfil .container-textos {
  width: 440px;
  float: left;
}
#perfil .container-textos h3 {
  color: #266c69;
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: 600;
}
#perfil .container-textos p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.4;
}
#perfil .container-textos p.olho {
  font-size: 30px;
  font-weight: 200;
  line-height: 1.2;
  margin: 15px 0 25px;
}
#perfil .container-textos ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
#perfil .container-textos ul li {
  color: #fff;
  font-size: 18px;
  margin-bottom: 3px;
  padding-left: 25px;
  position: relative;
}
#perfil .container-textos ul li::after {
  content: "";
  width: 7px;
  height: 5px;
  background: url("../images/layout/perfil_bullet.png") no-repeat center;
  position: absolute;
  left: 0;
  top: 11px;
}

/*=================================================================================================
  PROJETOS
  ===============================================================================================*/
#projetos-categorias {
  margin: 10px 0 40px;
}
#projetos-categorias a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #a0a09b;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin-right: 17px;
  padding: 0 13px;
  border: 1px solid #dcdcd7;
  outline: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#projetos-categorias a:hover, #projetos-categorias a.active {
  color: #1c9994;
  border-color: #1c9994;
  outline-color: #1c9994;
}

.projetos-thumbs-wrapper .projeto-thumb {
  position: relative;
  display: block;
  width: 230px;
  height: 230px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.projetos-thumbs-wrapper .projeto-thumb:nth-child(4n) {
  margin-right: 0;
}
.projetos-thumbs-wrapper .projeto-thumb img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.projetos-thumbs-wrapper .projeto-thumb div {
  display: table;
  width: 230px;
  height: 230px;
  padding: 0 40px;
  background: rgba(28, 153, 148, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.projetos-thumbs-wrapper .projeto-thumb div::after {
  content: "";
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 85px;
  top: 0;
  left: 0;
  background: url("../images/layout/projetos_detalhe-overlay.png") no-repeat center;
}
.projetos-thumbs-wrapper .projeto-thumb div p {
  display: table-cell;
  vertical-align: middle;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
  font-size: 24px;
  color: #fff;
  text-align: center;
  width: 100%;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.projetos-thumbs-wrapper .projeto-thumb div p span {
  font-size: 18px;
  color: #5bf4cc;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-transform: lowercase;
}
.projetos-thumbs-wrapper .projeto-thumb div p span::before, .projetos-thumbs-wrapper .projeto-thumb div p span::after {
  content: " - ";
}
.projetos-thumbs-wrapper .projeto-thumb:hover img {
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.projetos-thumbs-wrapper .projeto-thumb:hover div, .projetos-thumbs-wrapper .projeto-thumb:hover div p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
}
.projetos-thumbs-wrapper .projeto-thumb:hover div p {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.projetos-thumbs-wrapper .projeto-thumb:hover div::after {
  width: 230px;
  height: 230px;
  margin: 0;
}

.projeto-aside {
  width: 250px;
  margin-right: 40px;
  float: left;
  text-transform: uppercase;
}
.projeto-aside .projeto-dados {
  border: 1px solid #dcdcd7;
  padding: 15px 20px;
}
.projeto-aside .projeto-dados h3 {
  font-size: 22px;
  color: #1c9994;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}
.projeto-aside .projeto-dados .categoria {
  font-size: 14px;
  color: #22b2a8;
  margin: 5px 0 20px;
  padding-bottom: 20px;
  position: relative;
}
.projeto-aside .projeto-dados .categoria::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 4px;
  background: url("../images/layout/projetos_detalhe-descricao.png") no-repeat center;
}
.projeto-aside .projeto-dados div p {
  font-size: 16px;
  color: #82827d;
  margin: 0 0 3px;
}
.projeto-aside nav {
  margin-top: 10px;
}
.projeto-aside nav a {
  display: block;
  position: relative;
  height: 42px;
  line-height: 42px;
  float: left;
  width: 120px;
  padding: 0 15px;
  text-decoration: none;
  color: #a0a09b;
  font-size: 16px;
  border: 1px solid #dcdcd7;
  outline: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.projeto-aside nav a:hover {
  border-color: #1c9994;
  outline-color: #1c9994;
  color: #1c9994;
}
.projeto-aside nav a.projeto-anterior {
  margin-right: 10px;
  text-align: right;
}
.projeto-aside nav a.projeto-anterior::after {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  top: 17px;
  width: 16px;
  height: 7px;
  background: url("../images/layout/projetos_seta-anterior.png") no-repeat center;
}
.projeto-aside nav a.projeto-anterior:hover::after {
  background-image: url("../images/layout/projetos_seta-anterior-hover.png");
}
.projeto-aside nav a.projeto-proximo::after {
  content: "";
  display: block;
  position: absolute;
  right: 13px;
  top: 17px;
  width: 16px;
  height: 7px;
  background: url("../images/layout/projetos_seta-proximo.png") no-repeat center;
}
.projeto-aside nav a.projeto-proximo:hover::after {
  background-image: url("../images/layout/projetos_seta-proximo-hover.png");
}
.projeto-aside nav a.projeto-todos {
  width: 100%;
  margin-top: 10px;
  text-align: right;
}
.projeto-aside nav a.projeto-todos::after {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  top: 15px;
  width: 26px;
  height: 12px;
  background: url("../images/layout/projetos_todos.png") no-repeat center;
}
.projeto-aside nav a.projeto-todos:hover::after {
  background-image: url("../images/layout/projetos_todos-hover.png");
}

.stick {
  position: fixed;
  top: 30px;
}

.projeto-fotos {
  width: 690px;
  float: right;
}
.projeto-fotos img {
  margin-bottom: 20px;
  float: left;
}
.projeto-fotos img.vertical {
  margin-right: 20px;
}

.projeto-fotos img.vertical + img.vertical {
	margin-right:0;
}
/*=================================================================================================
  CONTATO
  ===============================================================================================*/
#contato-form {
  width: 620px;
  float: left;
}
#contato-form input[type=text], #contato-form input[type=email], #contato-form textarea {
  width: 100%;
  margin-bottom: 10px;
  font-size: 19px;
  color: #82827d;
  border: 1px solid #dcdcdc;
  outline: none;
  float: left;
  padding: 10px 15px;
  box-shadow: none;
}
#contato-form textarea {
  height: 170px;
  min-height: 170px;
  resize: vertical;
}
#contato-form input[type=submit] {
  float: right;
  height: 48px;
  font-size: 19px;
  line-height: 44px;
  text-transform: uppercase;
  color: #1c9994;
  background: transparent;
  border: 2px solid #1c9994;
  outline: none;
  padding: 0 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#contato-form input[type=submit]:hover {
  background-color: #1c9994;
  color: #fff;
}
#contato-form .validate-msg {
  display: none;
  float: left;
  height: 48px;
  line-height: 48px;
  font-size: 19px;
  padding: 0 15px 0 42px;
  background: url("../images/layout/contato_sucesso.png") no-repeat 15px center #eeeee9;
  color: #82827d;
}

.contato-dados {
  text-align: right;
  float: right;
  font-weight: 200;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}
.contato-dados p {
  font-size: 36px;
  color: #82827d;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.contato-dados a {
  font-size: 32px;
  color: #1c9994;
  margin: 0;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #bae0de;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.contato-dados a:hover {
  border-color: #1c9994;
}

h1#pagenotfound {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: #000;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
}