.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html {
  min-height: 100%;
  position: relative;
}
html body.body-painel-login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
html body.body-painel-login .main-painel-login {
  background: url('rgba.php/rgba(@r,@g,@b,@a)');
  background: rgba(51, 51, 51, 0.15);
  overflow: hidden;
  min-height: 100%;
}
html body.body-painel-login .main-painel-login .login {
  background: #fff;
  display: block;
  margin: 50px auto 0 auto;
  width: 400px;
  border: 2px #ccc solid;
  padding: 15px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body.body-painel-login .main-painel-login .login h3 {
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px #ccc solid;
}
html body.body-painel-login .main-painel-login .login .input-group {
  margin-bottom: 15px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder {
  height: 34px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder input[type="submit"] {
  float: right;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder input[type="checkbox"] {
  vertical-align: -2px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder label {
  font-weight: normal;
}
html body.body-painel .main .container {
  padding: 0 0 50px 0;
  min-height: 500px;
}
html body.body-painel footer {
  border-top: 1px #ccc solid;
  padding-top: 20px;
}
html body.body-painel table {
  margin: 30px 0;
}
html body.body-painel table .crud-actions {
  width: 131px;
}
html body.body-painel table .crud-actions form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body.body-painel table .move-actions {
  width: 74px;
}
html body.body-painel .add .pad {
  padding: 20px 0px;
  max-width: 600px;
}
html body #listaImagens {
  margin: 20px 0;
  font-size: 0;
}
html body #listaImagens .projetoImagem {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  width: 200px;
  margin: 0 10px 10px 0;
  position: relative;
  cursor: move;
}
html body #listaImagens .projetoImagem img {
  max-width: 100%;
  display: block;
}
html body #listaImagens .projetoImagem a {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
html body #listaImagens .projetoImagem a strong {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 0;
  overflow: hidden;
}
html body #listaImagens .projetoImagem a:hover strong {
  width: 100px;
}
html body #multiUpload {
  width: 600px;
  margin: 10px auto;
  border: 3px #CCC dashed;
  text-align: center;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
}
html body #multiUpload p {
  text-align: center;
}
html body #multiUpload input {
  margin: 5px auto;
}
html body #multiUpload #icone {
  margin: 20px;
  position: relative;
}
html body #multiUpload #icone span {
  color: #AAA;
  font-size: 50px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #multiUpload #icone span.glyphicon-refresh {
  opacity: 0;
  display: none;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
