@import '../vars.less';

html{
	min-height: 100%;
	position:relative;
	body{
		&.body-painel-login{
			position:absolute;
			top:0;
			left:0;
			height: 100%;
			min-height: 100%;
			width:100%;
			min-width: 100%;
			.main-painel-login{
				.rgba(51,51,51,.15);
				overflow:hidden;
				min-height: 100%;
				.login{
					background:#fff;
					display:block;
					margin:50px auto 0 auto;			
					width:400px;
					border:2px #ccc solid;
					padding:15px;
					-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
					box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
					.arredondada(7px);
					h3{
						margin-top:0;
						padding-bottom:10px;
						margin-bottom:15px;
						border-bottom:1px #ccc solid;
					}
					.input-group{
						margin-bottom:15px;
					}
					.submit-placeholder{
						height: 34px;
						input[type="submit"]{
							float:right;
						}
						input[type="checkbox"]{
							vertical-align: -2px;
						}
						label{
							font-weight: normal;
						}
					}
				}
			}
		}
		&.body-painel{
			.main{
				.container{
					padding:0 0 50px 0;
					min-height:500px;
				}
			}
			footer{
				border-top:1px #ccc solid;
				padding-top:20px;
			}
			table{
				margin:30px 0;
				.crud-actions{
					width:131px;
					form{
						.inline;
					}
				}
				.move-actions{
					width: 74px;
				}
			}
			.add{
				.pad{
					padding:20px 0px;
					max-width: 600px;
					form{
						
					}
				}
			}
		}
		#listaImagens{
			margin:20px 0;
			font-size:0;
			.projetoImagem{
				.inline;
				.transition(opacity, .3s, ease-in);
				width:200px;
				margin:0 10px 10px 0;
				position:relative;
				cursor:move;
				img{
					max-width:100%;
					display:block;
				}
				a{
					position:absolute;
					bottom:5px;
					right:5px;
					strong{
						.transition;
						.inline;
						width:0;
						overflow:hidden;
					}
					&:hover strong{width:100px;}
				}
			}
		}
		#multiUpload{
			width:600px;
			margin:10px auto;
			border:3px #CCC dashed;
			text-align:center;
			padding:15px;
			.arredondada(15px);
			p{
				text-align:center;
			}
			input{
				margin:5px auto;
			}
			#icone{
				margin:20px;
				position:relative;
				span{
					color:#AAA;
					font-size:50px;
					.transition;
					&.glyphicon-refresh{
						opacity:0;
						display:none;
						-webkit-animation-name: spin;
						-webkit-animation-duration: 3000ms;
						-webkit-animation-iteration-count: infinite;
						-webkit-animation-timing-function: linear;
						-moz-animation-name: spin;
						-moz-animation-duration: 3000ms;
						-moz-animation-iteration-count: infinite;
						-moz-animation-timing-function: linear;
						-ms-animation-name: spin;
						-ms-animation-duration: 3000ms;
						-ms-animation-iteration-count: infinite;
						-ms-animation-timing-function: linear;						
					}
				}
			}
		}
	}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}