#site 
{
    width: 945px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position:relative;
    left: 50%;
    margin-left:-475px;
}

/*Texto normal 11px*/
.text 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #601a73;
}
.text:link 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #601a73;
}
.text:visited 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #601a73;
}
.text:hover 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #601a73;
}
